.EmployeeInformation_container {
  width: 80rem;
}

section {
  line-height: 5px;
}

.profile {
  padding: 20px;
}

.Profile_container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 300px;
  text-align: left;
  line-height: -10;
}
